.ap-grid {
  margin-top: 50px;
  margin-left: 50px;
}

.ap-grid-cell {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  line-height: 36px;
}
